body{
    background-color: rgb(236, 246, 246);
    margin-top: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.openslide{
    background-color: rgb(236, 233, 233);
    background-image: url("../img/background1.jpg");
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 200px;
    height: 500px; 
    background-position: right; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.text-center{
    text-align: center;
}

.carousel-item{
    padding-top: 0px;
}
.inner{
    text-align:left;
    margin-left: 100px;
    margin-top: 150px;
    padding-bottom: 20px;

}

.cover-heading{
    color: rgb(31, 31, 173);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: -70px;
}

.lead0{
    font-family: Poppins,sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 0px;
}

#tentangkami{
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}

.aboutus{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pengenalan{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    margin-top: 10px;
}

#tentangkami{
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;

}

.hlayanan{
    color: rgb(31, 31, 173);
    font-size: 30px;
   
}


